/* ------------------------------------- Headers styles -------------------------------*/
@import "mixins";
@import "variables";

/* Modal animation main setting */

.modal {
	display: block !important;
	transform: translateY(-200%);
	transition: .8s;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/* Floats */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

/* Styles for placeholder */
*::-webkit-input-placeholder {

}
*:-moz-placeholder {

}
*::-moz-placeholder {

}
*:-ms-input-placeholder {

}

/* Absolute centering */

.relative {
	position: relative;
}

.absolute-center {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* Circle element */

.circle {
	border-radius: 50%;
}

html {
	font-size: 16px;
}

body {
	font-family: $text;
}

/* Heading fonts */
h1, h2, h3, h4 ,h5, h6 {
}

h1 {
}

a {
	text-decoration: none;
}

/* Button settings */
.btn {

}

body {
background: url(../images/ololo.png);
}

header {
}

@media screen and (min-width: 761px) and (max-width: $descope-width + 20px) {
	header {
	}
}

@media screen and (max-width: 760px) {
	header {
	}
}
