/* ------------------------------------- Headers styles -------------------------------*/
@import "inc/mixins";
@import "inc/variables";
@import "inc/grid";

/* Reset in inline html */

.modal {
	display: block !important;
	transform: translateY(-200%);
	transition: .8s;
}

a {
	text-decoration: none;
}

/* Service global classes */

.relative {
	position: relative;
}

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

/* Global styles */

body {
	font-family: $text;
}

/* Heading fonts */
h1, h2, h3, h4 ,h5, h6 {
}

h1 {

}

/* Styles for placeholder */

input,
textarea {
	@include placeholder {

	}
}

/* Styles for inputs field */

input {

}

/* Button style */

.btn {
	&:hover,
	&:active {

	}
}

/* Header */

header {

}

/* Media queries */

/* Big descope fullhd and more */
@include big-desktop {

}

@include tablet-portait {

}

@include phone-only {

}

/* Landscape style in header */

@include tablet-landscape {

}

@include phone-landscape {

}
