/* ------------------------------------- Headers styles -------------------------------*/
@import "inc/mixins";
@import "inc/variables";
@import "inc/grid";

/* Modal animation main setting */

.modal {
	display: block !important;
	transform: translateY(-200%);
	transition: .8s;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/* Floats */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

/* Absolute centering */

.relative {
	position: relative;
}

.absolute-center {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* Circle element */

.circle {
	border-radius: 50%;
}

/* Global styles */

html {
	font-size: 16px;
}

body {
	font-family: $text;
}

/* Heading fonts */
h1, h2, h3, h4 ,h5, h6 {
}

h1 {
}

a {
	text-decoration: none;
}

/* Styles for placeholder */

input,
textarea {@include placeholder {

}}

/* Styles for inputs field */

input {

}

header {

}

/* Media queries */

@include big-desktop {
	header {

	}
}

@include tablet-portait {
	header {

	}
}

@include tablet-landscape {
	header {

	}
}

@include phone-only {
	header {

	}
}
