@import "inc/reset";
@import "inc/fonts";
@import "inc/font-awesome";
@import "inc/variables";
@import "libs";
@import "inc/base_styles";
//@import "inc/animate";
@import "headers";

/* Theme settings */

/* Global fonts */

/* --------------------------------Custom styles--------------------------------------------------- */

/* Allert styles */

.allert {
	position: absolute;
	right: 45px;
	top: 0;
}

/* Footer */

.footer {

}

/* -------------------------- Company footer --------------------------------- */

@keyframes slide {
	0% {
		transform: translate(-200%, 0%);
	}
	50% {
		transform: translate(800%, 0%);
	}
	100% {
		transform: translate(-200%, 0%);
	}
}

.company-footer {
	/* Company Footer bg */
	background-color: #202020;
	padding: 15px 0;
	.company-wrapped {
		display: block;
		.politics {
			padding-left: 10px;
			padding-top: 8px;
			@include rem('font-size', 14px);
			display: inline-block;
		}
		.politics:hover {
			opacity: .6;
		}
	}
	.company-logo {
		float: right;
	}
	.company-logo:hover {
		opacity: .6;
	}
	.gs_spots {
		display: inline-block;
		vertical-align: middle;
		float: right;
	}
	.gs_spots svg {
		fill: #666666;
	}
	svg {
		margin-right: 10px;
		width: 95px;
		opacity: 1;
		transition: all 0.3s;
	}
	#blick {
		transform: translate(-100%, 0%);
		fill: rgba(0, 0, 0, .4);
		box-shadow: 0 0 10px rgba(0,0,0,1);
	}
	#blick {
		transform: translate(-100%, 0%);
		fill: rgba(0, 0, 0, .4);
		box-shadow: 0 0 10px rgba(0,0,0,1);
	}
	.gs_spots:hover #blick {
		animation: slide 1s ease 1 reverse;
		animation-duration: 2s;
	}
}

/* Modal window custom styles */

/* modal styles and sizes */

.modal-desk {
	@include rem('font-size', 24px);
}

.modal-window {
	width: 380px;
	background: #FFF;
	padding: 15px;
}

.modal-title {

}

.modal-content {
	margin-top: 0;
	.close {
		width: 30px;
		height: 30px;
		top: 20px;
		right: 20px;
		&:before,
		&:after {
			content: "";
			width: 29px;
			height: 2px;
			background: #000;
			position: absolute;
			left: 50%;
			right: 50%;
			transform: rotate(45deg);
			margin-top: -1px;
			margin-left: -14.5px;
			transition: .4s;
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

/* Modal politics */

.modal-politics {
	height: auto;
	width: 75%;
	padding: 40px;
	.modal-content {
		margin-top: 0;
		.modal-title {
			@include rem('font-size', 22px);
			padding: 0 50px;
			text-align: center;
		}
		p {
			@include rem('font-size', 14px);
			text-align: left;
			padding-bottom: 20px;
		}
	}
}

/* Sending */

#sending {
	border-radius: 5px;
	border: 4px solid #000;
	background: #FFF;
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
	.sending {
		padding: 15px;
	}
}

@import "media";
@import "thank";
