@import "inc/reset";
@import "inc/fonts";
@import "inc/font-awesome";
@import "libs";
//@import "inc/animate";
//@import "inc/fancybox";
@import "headers";
@import "inc/modal";

/* -------------------------------- Custom styles --------------------------------------------------- */

/* Allert styles */

.form-inline {
	.allert {
		left: auto;
		right: 0;
		display: inline-block;
	}
}

/* Footer */

.footer {

}

/* Company footer */

.company-footer {
	background-color: #202020;
	padding: 15px 0;
	.politics {
		padding-left: 10px;
		padding-top: 8px;
		@include rem('font-size', 14px);
		display: inline-block;
		&:hover,
		&:active {

		}
	}
	.company-logo {
		float: right;
	}
	svg {
		width: 95px;
		height: 40px;
		fill: #666666;
		transition: .4s;
		&:hover,
		&:active {

		}
	}
}

/* Modal window custom styles */

.modal-window {
	width: 380px;
	background: #FFF;
	padding: 15px;
	p {

	}
	.modal-title {

	}
	.close {
		width: 30px;
		height: 30px;
		top: 20px;
		right: 20px;
		&:before,
		&:after {
			content: "";
			width: 28px;
			height: 2px;
			margin-top: -1px;
			margin-left: -14px;
			background: #000;
			position: absolute;
			left: 50%;
			right: 50%;
			transform: rotate(45deg);
			transition: .4s;
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover,
		&:active {

		}
	}
}

/* Modal politics */

.modal-politics {
	width: 75%;
	.modal-title {
		text-align: center;
	}
	p {
		text-align: left;
		padding-bottom: 15px;
	}
}

@import "media";
@import "thank";
